*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/inspectionProfiles
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/release
/jcenterUpdata.bat
build/